<div class="l-wrapper t-palette-color--1">
  <!-- header -->
  <%- include('../header/header.ejs'); %>
  <!-- hero -->
  <div class="l-spacing-m">
    <%- include('../hero/hero.ejs'), { hero: hero }; %>
  </div>
  <!-- content -->
  <main class="l-main">
    <!-- tags -->
    <div class="l-spacing-m">
      <%- include('../filter/filter.ejs'); %>
    </div>
    <div class="l-spacing-l">
      <% cards.forEach(function(card){ %>
        <%- include('../card/card.ejs', { card: card }); %>
      <% }) %>
    </div>
    <!-- <div class="o-distributed o-distributed--center l-spacing-l">
      <a class="c-button" href="#">Load more tips...</a>
    </div> -->

    <!-- pagination -->
    <%- include('../pagination/pagination.ejs') %>
  </main>

  <!-- footer -->
  <%- include('../footer/footer.ejs'); %>
</div>

<a href="#" class="s-back-to-top j-back-to-top" title="back to top">
  <%- include('../../svg/svgo/arrow-up.svg') %>
</a>
