<%
  let modifiers = ''
  if (hero.mainTag) {
    modifiers = `${modifiers} c-hero--${hero.mainTag}`
  }

  if (hero.quote) {
    modifiers = `${modifiers} c-hero--quote`
  }

  if (hero.img) {
    modifiers = `${modifiers} c-hero--bg-img`
  }
%>

<section class="c-hero <%= modifiers %>">
  <% if (hero.img) { %>
    <div class="c-hero__img" style="--hero-image: url('<%= hero.img %>');"></div>
  <% } %>

  <% if (hero.title && hero.subtitle) { %>
    <div class="l-main">
      <h1><%- hero.title %></h1>
      < class="c-hero__subtitle"><%= hero.subtitle %></h2>
    </div>
  <% } %>

  <% if (hero.quote && hero.quoteAuthor) { %>
    <div class="l-main">
      <blockquote class="c-hero__blockquote">
        <span class="c-hero__quote"><%- hero.quote %></span>
        <cite class="c-hero__subtitle"><%= hero.quoteAuthor %></cite>
      </blockquote>
    </div>
  <% } %>

  <% if (hero.credits) { %>
    <span class="c-hero__credits">Photo credits <a href="#"><%= hero.credits %></a></span>
  <% } %>
</section>
