<div class="l-wrapper t-palette-color--2">
  <!-- header -->
  <%- include('../header/header.ejs'); %>
  <!-- hero -->
  <div class="l-spacing-m">
    <%- include('../hero/hero.ejs'), { hero: hero }; %>
  </div>
  <!-- content -->
  <main class="l-main">
    <!-- tags -->
    <div class="l-spacing-m">
      <%- include('../filter/filter.ejs'); %>
    </div>
    <div class="l-spacing-l">
      <%- include('../cards-grid/cards-grid.ejs', { cardsGrid: cardsGrid }); %>
    </div>
    <div class="o-distributed o-distributed--center l-spacing-l">
      <a class="c-button" href="#">Load more post...</a>
    </div>
  </main>
  <!-- footer -->
  <%- include('../footer/footer.ejs'); %>
</div>
