<%
  const truncate = (input) => input.length > 200 ? `${input.substring(0, 200)}...` : input;
  const abstract = truncate(card.abstract)

  let modifiers = ''
  if (card.modifiers) {
    card.modifiers.forEach((mod) => {
      modifiers = `${modifiers} c-card--${mod}`
    })
  }

  let spacingClass = ''
  if (card.spacingClass) {
    spacingClass = card.spacingClass
  }
%>


<article class="c-card <%=modifiers%> <%=spacingClass%>">
  <% if (card.hasImg) { %>
    <div class="c-card__img-wrapper">
      <%- include('../../svg/svgo/'+card.mainTag+'.svg') %>
    </div>
  <% }; %>
  <div class="c-card__content">
    <% if (card.number) { %>
      <span class="c-card__number"><%= card.number %></span>
    <% }; %>
    <a class="c-card__title" href="#">
      <h2 class="c-card__title-heading"><%= card.title %></h2>
    </a>
    <p class="c-card__abstract"><%= abstract %></p>
    <% if (card.table) { %>
      <%- include('../table/table.ejs'); %>
    <% } %>
    <div class="c-card__bottom">
      <% if (card.date) { %>
      <time class="c-card__date" time="20:00"><%= card.date %></time>
      <% }; %>
      <div class="c-card__tags">
        <% card.tags.forEach(function(tag){ %><a class="c-label" href="#"><%= tag %></a><% }); %>
      </div>
    </div>
  </div>
</article>
