<footer class="c-footer">
  <div class="l-main">
    <div class="c-footer__group">
      <div class="c-footer__theme-switcher">
        <%- include('../theme-switcher/theme-switcher.ejs') %>
      </div>

      <p class="c-footer__copyright">© 2021 made with <span>♥️</span> by Giulia Chiola</p>

      <div class="c-footer__socials"></div>
        <a class="c-footer__link" href="https://twitter.com/giulia_chiola" target="_blank" rel="noopener" title="twitter">
          <%- include('../../svg/svgo/twitter.svg') %>
        </a>
        <a class="c-footer__link" href="https://gitlab.com/giuliach" target="_blank" rel="noopener" title="gitlab">
          <%- include('../../svg/svgo/gitlab.svg') %>
        </a>
        <a class="c-footer__link" href="https://github.com/giuliachiola" target="_blank" rel="noopener" title="github">
          <%- include('../../svg/svgo/github.svg') %>
        </a>
        <a class="c-footer__link" href="https://codepen.com/giuliachiola" target="_blank" rel="noopener" title="codepen">
          <%- include('../../svg/svgo/codepen.svg') %>
        </a>
      </div>
    </div>
  </div>
</footer>
